.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}
.pt-50 {
  padding-top: 50px;
}

.background-card {
  min-height: 60%;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#greet-section {
  background-image: url("../assets/img/bg1.jpg");
}

#feature-section {
  background-image: url("../assets/img/bg2.jpg");
}

#greet-section .video-player {
  max-width: 700px;
  margin: 30px auto;
}

#greet-section .video-player > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

#greet-section .video-player iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#actor-slide img {
  display: block;
  max-height: 200px;
  z-index: 100;
}

#float-carousel-container {
  position: relative;
}

#float-carousel {
  background: #D4479B;
  border: 1px;
  box-sizing: border-box;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  top: 50px;
  z-index: -1;
}

.uppercase {
  text-transform: uppercase;
}

/* 
Font dùng đường dẫn ../assets/fonts/tên-font
hiện ko có cách nào dùng variable được nếu thay cần thay hết
*/
@font-face {
  font-family: 'utmavo';
  src: url("../assets/fonts/utmavo.eot");
  src: local("utmavo"), url("../assets/fonts/utmavo.woff") format("woff"), url("../assets/fonts/utmavo.ttf") format("truetype");
}

@font-face {
  font-family: 'utmavobold';
  src: url("../assets/fonts/utmavobold.eot");
  src: local("utmavobold"), url("../assets/fonts/utmavobold.woff") format("woff"), url("../assets/fonts/utmavobold.ttf") format("truetype");
}

.font-avo {
  font-family: 'utmavo' !important;
  font-size: initial;
}

.font-avo .bold {
  font-family: 'utmavobold' !important;
}

.font-s30 {
  font-size: larger;
}

.pink-color {
  color: #D4479B;
}
.white {
  color:white;
}

/* Font downloaded from FontsForWeb.com */
